*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}
body{
    background: linear-gradient(to bottom, #333333, #000000);
    color: white;
}
.carousel{
    overflow: hidden;
    width: 100%;
    margin: auto;
    position: relative;
    max-width: 700px;
    height: 800px;
}
.carousel h2{
    margin: 20px;
    font-size: 1.7rem;
    color: white;
    text-align: center;
}
.carousel h4{
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin: 20px;
}
.carousel-slides{
    display: flex;
    align-items: center;
    width: 100%;
    transition: transform 0.5s ease;
}
.slide{
    min-width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;

}
.slide.active{
    opacity: 1;
    visibility: visible;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.slide p{
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    margin: 5px;
}
.carousel .material-symbols-outlined.direction{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 3rem;
    padding: 10px;
    color: rgba(255, 255, 255, 0.741);
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    z-index: 99;

}
.carousel .material-symbols-outlined.direction:hover{
    background: rgba(0, 0, 0, 0.1);
}

button{
    border-radius: 50%;
    text-align: center;
    margin: 0;
}
#back {
    left: -10px;
}
#next { 
    right: -10px;
}
.carousel-dots{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0;
}
.carousel-dots .material-symbols-outlined {
    font-size: 20px;
    color: gray; /* Default dot color */
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.carousel-dots .material-symbols-outlined:hover {
    transform: scale(1.2);
}
.carousel-dots .material-symbols-outlined.filled {
    color: rgb(13, 215, 13);
    fill: 100;
    background-color: rgb(13, 215, 13);
    border-radius: 50%;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}